*.aux
*.bak
*.bbl
*.blg
*.d2rtmp
*.exe
*.gz
*.log
*.out
*.pdf
*.sav
*.toc
*.db
*.jar

// gradle
*.gradle

// idea
*.iws
*.ipr
*.idea


//D2Rmap build and distribution files
implementation/D2Rmap/.idea/*
implementation/D2Rmap/_work/*
implementation/D2Rmap/target/*
implementation/D2Rmap/project/*/*

// sqlwrapper build
implementation/sqlwrapper/target/*
implementation/sqlwrapper/logs/*
implementation/sqlwrapper/.idea/*
implementation/sqlwrapper/project/*/*
implementation/sqlwrapper/_work/*