*.aux
*.bak
*.bbl
*.blg
*.gz
*.log
*.out
*.pdf
*.sav
*.toc

// gradle
*.gradle

// idea
*.iws
*.ipr
*.idea


//D2Rmap build and distribution files
implementation/D2Rmap/.idea/*
implementation/D2Rmap/_work/*
implementation/D2Rmap/target/*
implementation/sqlwrapper/target/*
implementation/sqlwrapper/logs/*
implementation/sqlwrapper/.idea/*
*.d2rtmp