<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />



  <!-- appenders -->

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${application.home:-.}/logs/application.log</file>
    <encoder>
      <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>




  <!-- root logging -->

  <root level="INFO">
    <appender-ref ref="ASYNCFILE" />
    <appender-ref ref="ASYNCSTDOUT" />
  </root>




  <!-- SQL Wrapper specific logging -->

  <!-- SqlWrapperDepdendencyInjector should log infos! -->
  <logger name="de.unipassau.medspace.wrapper.sqlwrapper.SqlWrapperDepdendencyInjector" level="INFO" />

  <!-- SQLWrapperService should log infos! -->
  <logger name="de.unipassau.medspace.wrapper.sqlwrapper.SQLWrapperService" level="INFO" />






  <!-- Global MeDSpace loggers -->

  <!-- DependencyInjector should log infos! -->
  <logger name="de.unipassau.medspace.common.play.DependencyInjector" level="INFO" />
  
  <!-- DependencyInjector should log infos! -->
  <logger name="de.unipassau.medspace.common.play.WrapperDependencyInjector" level="INFO" />

  <!-- ServerConfigProvider should log infos! -->
  <logger name="de.unipassau.medspace.common.play.ServerConfigProvider" level="INFO" />

  <!-- ShutdownService should always log infos! -->
  <logger name="de.unipassau.medspace.common.play.ShutdownService" level="DEBUG" />




  <!-- Other loggers -->

  <!-- AkkaHttpServer should log at which address and port the server runs!-->
  <logger name="play.core.server.AkkaHttpServer" level="INFO" />


  <!-- Suppress warning bug from https://hibernate.atlassian.net/browse/HV-1323 -->
  <logger name="org.hibernate.validator.messageinterpolation.ParameterMessageInterpolator" level="error"/>

  <!-- Disable HikariCP logger as we catch exceptions and log them ourselves -->
  <logger name="com.zaxxer.hikari.pool.HikariPool" level="OFF" />

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

</configuration>
