@()

<div class="container-fluid">
    <div class="row">
        @*action="@routes.RegisterController.add()" method="GET"*@
        <form class="input-append form-container" id="remove-datasource-form" >
            <h5><strong>Remove a datasource by its URI</strong></h5>
            <input type="text" name="uri" placeholder="">
            <br>
            <button id="remove-datasource-btn" type="submit">Remove</button>
            <div id="remove-datasource-alert-box"></div>
        </form>
    </div>
</div>