

@import de.unipassau.medspace.common.SQL.ConnectionPool
@import de.unipassau.medspace.wrapper.sqlwrapper.SQLWrapperService

@*
* Defines the start page of the SQL Wrapper.
* The start page is indented to provide a human readable page that lists the services of the SQL wrapper and
* does provide some debug information of the SQL wrapper.
*@

@(service: SQLWrapperService,
        config: de.unipassau.medspace.d2r.config.Configuration,
        generalConfig: de.unipassau.medspace.common.config.GeneralWrapperConfig,
        connectionPool: ConnectionPool,
        metaData: java.sql.DatabaseMetaData)

@pageSceleton("SQL Wrapper(D2R)",
  routes.Assets.versioned("stylesheets/nothing.css").url,
  routes.Assets.versioned("javascripts/nothing.js").url,
  routes.Assets.versioned("images/favicon.png").url) {

  <h1>SQL Wrapper(D2R) status page</h1>

  <h2>Contents</h2>
  <ul>
    <li>
      <a href="#test_page">Test Page</a>: A test page showing a possible client using this wrapper

    </li>
    <li>
        <a href="#services">Services</a>: Implemented services
    </li>
    <li>
        <a href="#debug_stats">Debug stats</a>: Detailed information about submodules of the wrapper
    </li>
  </ul>

  <h2 id="test_page">Test Page</h2>
  A Keyword search test page can be found at: <a href="@routes.SQLWrapperController.guiTest()">
  @routes.SQLWrapperController.guiTest()</a>

  <h2 id="services">Services</h2>
  <h4>keyword search query service</h4>
  <ul>
    <li>param keywords: The keywords to search for</li>
    <li>param attach (optional): Should the keyword seach result be attached as a file?
      (Only relevant when using a browser as client)</li>
    <li>url: pattern <a href='@routes.SQLWrapperController.search("keyword1 keyword2",true)'>
    @routes.SQLWrapperController.search("keyword1 keyword2",true)</a></li>
  </ul>

  <h4>Reindexing data</h4>
  To reindex the indexed keyword execute the REST Service at: <a href="@routes.SQLWrapperController.reindex()">
  @routes.SQLWrapperController.reindex()</a>

  <h2 id="debug_stats">Debug stats</h2>
  <h4>Index</h4>

  Index is used: @generalConfig.isIndexUsed() <br>

  @if(generalConfig.isIndexUsed()) {
    Index Directory: @generalConfig.getIndexDirectory().toString() <br>
  }

  <h4>Datasource</h4>

  Database-Product: @metaData.getDatabaseProductName() <br>
  Database-Product-Version: @metaData.getDatabaseProductVersion() <br>
  Driver: @metaData.getDriverName() <br>
  Driver-Version: @metaData.getDriverVersion() <br>

  JDBC-Driver: @config.getJdbcDriver().getName()  <br>
  JDBC-URL: @config.getJdbc() <br>

  Max connections: @metaData.getMaxConnections <br>
  Max row size: @metaData.getMaxRowSize <br>

  <h4>Connection Pool</h4>

  Max connection pool size: @connectionPool.getMaxPoolSize() <br>
  Number active connections: @connectionPool.getActiveConnectionsNumber <br>
  Number idle connections: @connectionPool.getIdleConnectionsNumber <br>
  Number total connections: @connectionPool.getTotalConnectionsNumber <br>
}
