
@import java.util.List
@import test.DatasourceFormular
@import test.NoResponseFormular
@import test.RemoveDatasourceFormular
@import java.sql.Timestamp
@import de.unipassau.medspace.common.register.Datasource

@*
* A test page for the register. Allows to add and remove a datasource and allows to inform the register that a
* datasource isn't responding.
*@
@(msg : String, datasources : List[Datasource], modifiedMap : Map[Datasource, Timestamp])

@pageSceleton("Register Home",
  routes.Assets.versioned("stylesheets/test.css").url,
  routes.Assets.versioned("javascripts/test.js").url,
  routes.Assets.versioned("images/favicon.png").url) {
  <h1>Register Home</h1>
  @msg

  <h2>Datasource Registration Test</h2>

  @DatasourceFormular()

  @NoResponseFormular()

  @RemoveDatasourceFormular()

  <h2>Registered Datasources</h2>

  <ul>
    @for(datasource <- datasources) {
      <li>
        <h4>URI</h4>
          @datasource.getUrl()
        <h4>Description</h4>
         @datasource.getDescription()
        <h4>Services</h4>
        <ul>
          @for(service <- datasource.getServices()) {
            <li>
              @service
            </li>
          }
        </ul>
        <h4>Last update</h4>
          @modifiedMap.get(datasource)
      </li>
    }
  </ul>
}
